.header {
    background-color: #000000;
    color: #eee;
}

.navbar-logo {
    width: 1.9em;
    height: auto;
}

.nav-link {
    color: #ffffff;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin-right: 1em;
}

.navbar a {
    text-decoration: none;
    color: #eee;
    ;
}

.navbar a:hover {
    color: #fff;
}