:root {
  --main-bg-color: #bebaba;
  --secondary-bg-color: #282c34;
  --main-text-color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--main-bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--secondary-bg-color);
  color: var(--main-text-color);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a,
footer a {
  color: var(--main-text-color);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  flex-grow: 1;
  color: var(--main-text-color);
  display: grid;
  grid-template-areas:
    "main aside"
    "main aside";
  column-gap: 10px;
  margin: auto 15px;
}

.grid1 {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.grid2 {
  grid-area: aside;
}

.resultsDisplay {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.singleResult {
  background-color: var(--secondary-bg-color);
  padding: 5px 0;
}

.resultsCart {
  background-color: var(--secondary-bg-color);
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
  margin: 5px auto;
  overflow-y: scroll;
  max-height: 65vh;
  position: relative;
  padding-top: 0; 
}

.resultsCart h3 {
  position: sticky;
  top: 0;
  background-color: var(--secondary-bg-color);
  padding: 20px;
}

.resultItem {
  background-color: #f0f0f0;
  color: #000;
  padding: 3px;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 14px;
}

footer {
  color: var(--main-text-color);
  background-color: var(--secondary-bg-color);
  min-height: 4rem;
}
